#root > section{
  margin:auto;
}
body {
  background-color: rgb(242, 247, 246);
}

.layout {
  min-height: 100vh;
  align-items: center;
  max-width: 80%;
}
.empty-doggy-dash {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
#old-logo {
padding-top: 10px;
padding-bottom: 10px;
max-width: 375px;
aspect-ratio: 1/1;
}
.welcome-message,
.instructions{
  padding: 10px;
  margin:5px;
}

.header {
  background-color: #df9a5c;
}
.navbar-menu{
  display:inline-block;
  
}
.search-form {
  margin-top:3px;
  display: flex;
  align-items: center;
}
.search-form-btn {
  margin:auto;
  padding-right:10px
}
.zip-code-search {
  margin-bottom: 3px;
}
.breed-search {
  margin-bottom: 3px;
}
.logo {
margin-bottom: -15px;
width: 50px;
height: 50px;
display:inline
}

.title {
font-size: 24px;
color: white;
margin: auto;
padding-bottom: 10px;
}
.logobox {
padding-bottom:10px;
display: inline-block;
align-items: center;
}

/* Navbar */
main {
  margin-top:10%;
  
}
.navbar {
  border-radius: 5px;
  border: solid 1px #00957F;
  box-shadow: 0 3px 6px -2px hsl(238, 35%, 19%, .1),
    0 6px 16px -11px hsl(238, 35%, 19%, .1);
  position: sticky;
  margin-bottom: 20px;
  z-index: 0;
  padding:0;
  background-color: rgb(223, 154, 92);
}

.navbar-menu {
  width: calc(90%);
  float: left;
}
.navbar-menu .ant-layout-header {
  padding: 0 20px;
}

.navbar-menu .ant-menu-horizontal {
  border-bottom: 0;
}

.navbar-menu .ant-menu-item {
  padding-bottom: 0px;
}

.navbar-menu .leftMenu {
  
}
.rightMenu {
  float: right;
}

.menuButton {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 14px;
  display: none;
  background: none;
  margin-right: 10px;
}
#login-form {
  margin-top:50px;
  min-width:250px;
}
#signup-form {
  margin-top:50px;
  min-width:250px;
}
.ant-drawer-body {
  padding: 0;
}
.ant-menu-submenu-horizontal {
  background-color: hsl(238, 35%, 19%, .1);
}
/* .ant-menu-horizontal {
  background-color: hsl(238, 35%, 19%, .2);
  border-radius: 5px;
} */
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  height:fit-content;
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

.username {
  display: none;
  margin-left: 8px;
}

@media (max-width: 1000px) {
  .layout {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .menuButton {
    display: block;
    margin-right: 10px;
  }

  .leftMenu,
  .rightMenu {
    display: none;
  }

  .ant-drawer-title > .brand-font {
    margin-bottom: 0;
  }

  .username {
    display: inline-block;
  }
  .left-menu .search-form {
    margin:10px;
  }
 
  .ant-menu-inline .ant-menu-item{
    height:70px;
  }
}
@media screen and (max-width:384px) {
  .logo{
    position: fixed;
    left:25px;
    top: 32px;
  }
  
  
}

