/* #root {
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */
.header {
  background-color: #df9a5c;
}
.navbar{
  
}
.logo {
margin-bottom: -15px;
width: 50px;
height: 50px;
display:inline
}

.title {
font-size: 24px;
color: white;
margin: auto;
padding-bottom: 10px;
}
.logobox {
padding-bottom:10px;
display: inline-block;
align-items: center;
}

/* Navbar */
main {
  margin-top:10%;
  
}
.navbar {
  border-radius: 5px;
  border: solid 1px #00957F;
  box-shadow: 0 3px 6px -2px hsl(238, 35%, 19%, .1),
    0 6px 16px -11px hsl(238, 35%, 19%, .1);
  position: sticky;
  margin-bottom: 20px;
  z-index: 0;
  padding:0;
  background-color: rgb(223, 154, 92);
}

.navbar-menu {
  width: calc(90%);
  float: left;
}
.navbar-menu .ant-layout-header {
  padding: 0 20px;
}

.navbar-menu .ant-menu-horizontal {
  border-bottom: 0;
}

.navbar-menu .ant-menu-item {
  padding-bottom: 0px;
}

.navbar-menu .leftMenu {
  
}
.rightMenu {
  float: right;
}

.menuButton {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 14px;
  display: none;
  background: none;
  margin-right: 10px;
}

.ant-drawer-body {
  padding: 0;
}
.ant-menu-submenu-horizontal {
  background-color: hsl(238, 35%, 19%, .1);
}
/* .ant-menu-horizontal {
  background-color: hsl(238, 35%, 19%, .2);
  border-radius: 5px;
} */
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

.username {
  display: none;
  margin-left: 8px;
}

@media (max-width: 767px) {
  .menuButton {
    display: block;
    margin-right: 10px;
  }

  .leftMenu,
  .rightMenu {
    display: none;
  }

  .ant-drawer-title > .brand-font {
    margin-bottom: 0;
  }

  .username {
    display: inline-block;
  }
}

